.pageHeading {
    display: flex;
}

.pageHeadingContent {
    font-weight: 700;
    margin: 2rem 0;
    text-align: center;
}

/* Hero Section */
.homeName {
    margin-bottom: 2rem;
    font-size: 5rem;
    font-weight: var(--fontweight-page-header);
}

.homeTitle {
    margin-bottom: 3rem;
    font-size: 2.5rem;
    font-weight: 450;
    opacity: 0.9;
}

.homeDescription {
    margin-bottom: 2.5rem;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2;
    opacity: 0.8;
}

/* Quick Links */
.quickLinks {
    margin: 5rem 0 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.linkCard {
    padding: 1.5rem;
    font-size: 1.2rem;
    font-weight: 600;
    background: var(--color-bg);
    color: var(--color-text);
    border: 1px solid var(--color-border-dark);
    border-radius: 10px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

.linkCard:hover {
    transform: translateY(-3px);
    border-color: var(--color-border-light);
    box-shadow: 0 4px 12px var(--color-shadow-dark);
}

.linkIcon {
    font-size: 2rem;
}

.linkContent {
    margin: 0 1rem;
}

/* For 1150px wide devices */
@media (max-width: 1150px) {
    .homeContainer {
        max-width: 90%;
    }

    .homeName {
        font-size: 3.5rem;
    }

    .homeTitle {
        margin-bottom: 2rem;
        font-size: 1.5rem;
    }

    .homeDescription {
        font-size: 1.1rem;
    }

    /* Quick Links */
    .quickLinks {
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
    }

    .linkCard {
        padding: 1.25rem;
        font-size: 1.1rem;
    }
}